/* General Settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Commons */

.pd10{
    padding-left: 10px;
    padding-right: 10px;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}

.container{
    width: 80%;
    margin: 10px auto;
}

section,
footer{
    margin-top: 10px;
}

.space{
    height: 50px;
    width: 100%;
    background: blue;
    border:1px;
    border-style: solid;
}

aside {
    float: left;
    width: 15%;
}

.content {
    float: left;
    width: 70%;
}